*{
    padding: 0;
    margin: 0;
}

#body-div{
    background: url('../IMAGE/pexels-francesco-ungaro-998641.jpg') rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:991px){
    #offcanvasNavbar{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    background: transparent;
    }
    #dropdown-menu-main{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    background: transparent;
    border: none;
    }
    
    #drp-down input{
        background-color: rgba(255, 255, 255, 0.15);
        background: transparent;
        color: white;
    }
    #drp-down input::placeholder{
        color: white;
    }
    .counter{
        display: none;
    }
}
@media (min-width:992px){
    #drp-down input{
        display: none;
        background-color: rgba(255, 255, 255, 0.15);
        background: transparent;
        color: white;
    }
    #drp-down button{
        display: none;
        background-color: rgba(255, 255, 255, 0.15);
        background: transparent;
        color: white;
    }
}
#dropdown-menu-main{
    backdrop-filter: blur(5px);
    background: transparent;
    color: white;
}
#dropdown-menu-main a:hover{
    background-color: rgba(255, 255, 255, 0.15);
    color: rgb(62, 165, 235) !important;
    backdrop-filter: blur(15px);
}
.nav-item .nav-link{
    color: white;
   position: relative;
}
.nav-item .nav-link::before{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(62, 165, 235);
    transition: all .5s;
}
.nav-item .nav-link:hover{
    color: rgb(62, 165, 235);
    
}
.nav-item .nav-link:hover::before{
    width: 100%;
}
main{
    background-image: url("../IMAGE/pexels-francesco-ungaro-998641.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
.head-section{
    color: white;
}
.about{
    color: white;
}
.home-newsletter{
    color: white;
}
.team-card .card{
    background: transparent;
    color: white;
    border: 1px white solid;
    margin: 3px;
}
.team-card h3{
    color: white;
}
.team-card .modal-content{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    background: transparent;
    color: white;
    border: 1px white solid;
    text-align: center;
}
.team-card .modal-content a{
    text-decoration: none;
    color: white;

}
.team-card .card .modal-content a:hover{
    color: rgb(62, 165, 235);
    font-weight: bold;
}
.contact-form h1 {
    color: white;
    text-align: center;
}

.contact-form h4 {
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

.contact-form input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.contact-form .styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .contact-form .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.contact-form .styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

.contact-form input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 4px;
}

.contact-form input:focus,
textarea:focus { outline: 0; }

.contact-form input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

.contact-form textarea {
    width: 100%;
    min-height: 15em;
}

.contact-form .input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.contact-form .submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.contact-form .submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .contact-form .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

.contact-form input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

.contact-form input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
#ticker {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

#ticker-content {
    display: inline-block;
    padding: 10px;
    animation: scroll 20s linear infinite;
}

#ticker-content::after {
    content: attr(data-content);
    display: inline-block;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
footer{
    background-image: url("../IMAGE/pexels-francesco-ungaro-998641.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
footer .main{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    background: transparent;
    color: white;
    border: 1px white solid;
}
footer .main .row .section .link{
    text-decoration: none;
    color: white;
}
footer .main .row .section .link:hover{
    text-decoration: none;
    color: rgb(62, 165, 235);
    font-weight: bold;
}
footer .main .row .usefull .link{
    text-decoration: none;
    color: white;
}
footer .main .row .usefull .link:hover{
    text-decoration: none;
    color: rgb(62, 165, 235);
    font-weight: bold;
}
footer .main .row .contact .link{
    text-decoration: none;
    color: white;
}
footer .main .row .contact .link:hover{
    text-decoration: none;
    color: rgb(62, 165, 235);
    font-weight: bold;
}
footer .main .row .icon .link{
    text-decoration: none;
    color: white;
}
footer .main .row .icon .link:hover{
    text-decoration: none;
    color: rgb(62, 165, 235);
    font-weight: bold;
}